@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

:root {
  /* Colors */
  --primary-color: #fbf6ef;
  --secondary-color: #dce0d9;
  --text-color: #6f4e37;
  --bg-color: #ead7c3;
  --accent-color: #d4a373;

  --read-color: rgb(161, 236, 161);
  --not-read-color: rgb(230, 97, 88);
  --read-color-rgb: 161, 236, 161;
  --not-read-color-rgb: 230, 97, 88;

  /* Transition speed */
  --transition-fast: all 0.1s;
  --transition-normal: all 0.5s;
  --transition-slow: all 1s;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.library-container {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.library-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100vw;
  background-color: var(--bg-color);
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--text-color);
  box-shadow: 0 1px 5px var(--text-color);
}

.add-book-btn {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}

.add-book-btn i {
  font-weight: 900;
}

.library-title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.modal-container {
  position: absolute;
  top: 50%;
  justify-self: center;
  background-color: var(--bg-color);
  transition: all var(--transition-normal) ease-in-out;
  padding: 2rem;
  border-radius: 0.5rem;
  pointer-events: none;
}

form {
  display: grid;
  row-gap: 1rem;
}

form h1 {
  color: var(--text-color);
}

.form-input-group {
  position: relative;
}

.form-input-group input {
  height: 50px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  padding: 20px 5px 0px 5px;
}

input:focus {
  border-color: var(--text-color);
}

.form-input-group labe {
  position: absolute;
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  pointer-events: none;
}

.form-checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);
  font-size: 1rem;
}
